<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto" style="width: 50%;">
    <div class="field">
      <%= form.label :name ,class: "form-label"%>
      <%= form.text_field :name ,class: "form-control w-75 mx-auto" %>
    </div>

    <div class="field">
      <%= form.label :email ,class: "form-label"%>
      <%= form.text_field :email ,class: "form-control w-75 mx-auto"%>
    </div>

    <div class="field">
      <%= form.label :password ,class: "form-label" %>
      <%= form.password_field :password ,class: "form-control w-75 mx-auto"%>
    </div>

    <div class="field">
      <%= form.label :password_confirmation ,class: "form-label"%>
      <%= form.password_field :password_confirmation ,class: "form-control w-75 mx-auto"%>
    </div>

    <% if action_name == "edit" %>
      <div class="field">
        <%= form.label :my_picture ,class: "form-label"%>
        <%= form.file_field :image,class: "form-control form-control w-75 mx-auto" %>
      </div>
    <% end %>

    <div class="actions text-center">
      <%= form.submit "Create Account", class: "btn btn-primary w-75 mx-auto m-2"%>
    </div>
  </div>
<% end %>
