<h1>Pictures</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th>Writer</th>
    </tr>
  </thead>

  <tbody>
    <% if @pictures.nil? %>
      <tr>
        <td>未登録</td>
      </tr>
    <% else %>
      <% @pictures.each do |picture| %>
        <tr>
          <% if picture.image.url.nil? %>
            <td>未登録</td>
          <% else %>
            <td><%= image_tag picture.image.url %></td>
          <% end %>
          <td><%= picture.content %></td>
          <td><%= picture.user.name %></td>
          <td><%= link_to 'Show', picture %></td>
          <% if picture.user.name == current_user.name %>
            <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
            <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% elsif current_user.favorites.find_by(picture_id: picture.id).present? %>
            <td><%= link_to 'お気に入り解除する', favorite_path(id: current_user.favorites.find_by(picture_id: picture.id).id), method: :delete, class: 'btn btn-danger' %></td>
          <% else %>
            <td><%= link_to 'お気に入りする', favorites_path(picture_id: picture.id), method: :post, class: 'btn btn-primary' %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
